// $branco-cinza: #fbfbfb;
$branco-cinza: #f6f6f6;
$azul-escuro: #32394d;

@font-face {
  font-family: "opensans-bold";
  src: url("../fonts/opensans-bold-webfont.ttf");
}

@font-face {
  font-family: "opensans-light";
  src: url("../fonts/opensans-light-webfont.ttf");
}

@font-face {
  font-family: "open sans";
  src: url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "gothan";
  src: url("../fonts/Gotham-Font/Gotham-Light.otf");
}

@font-face {
  font-family: "gothan-ultra";
  src: url("../fonts/Gotham-Font/Gotham-Ultra.otf");
}

@font-face {
  font-family: "myriad-bold";
  src: url("../fonts/Myriad/MYRIADPRO-BOLD.woff");
}

@font-face {
  font-family: "myriad-regular";
  src: url("../fonts/Myriad/MYRIADPRO-REGULAR.woff");
}


@mixin magin-top-bottom($top: 16px, $bottom: 32px){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin titulo-modulo(){
  .titulo-modulo{
    font-size: 25px;
    color: $azul-escuro;
    font-family: "myriad-bold";
    margin: 0;
  }
}

@mixin descricao-modulo(){
  .descricao-modulo{
    font-family: "myriad-regular";
    color: #7a7c81;
    font-size: 14px;
    margin: 0;
  }
}

body{
  background-color: $branco-cinza;
}

.row{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
}

a{
  color: $azul-escuro;
  font-family: "myriad-bold";
}

.card{
  background-color: #fff;
  border: none;
  .card-header{
    background-color: #fff;
    border: none;
  }
  .card-footer{
    background-color: #fff;
    border: none;
  }
}