// Tela grande
@media only screen and (min-width: 601px) {
    #informacoes{
        @include titulo-modulo();

        h3{
            text-align: center;
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: -60px;

        #cabecalho-modulo{
            margin-bottom: 8px;
        }

        .submodulo{
            border-bottom-left-radius: $card-radius;
            border-bottom-right-radius: $card-radius;
            .card-header{
                .titulo-submodulo{
                    font-family: "myriad-regular";
                    text-align: left;
                    color: #7a7c81;
                    font-size: 12px;
                    line-height: 12px;
                    margin: 10px 0;
                    text-transform: uppercase;
                    
                }
            }
            .card-body{
                .pergunta-resposta{
                    .pergunta{
                        margin-bottom: 12px;
                        font-family: "myriad-semibold";
                        font-size: 20px;
                        color: $azul-escuro;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .resposta{
                        font-family: "myriad-regular";
                        text-align: justify;
                        color: #8c8c8c;
                        font-size: 15px;
                        // line-height: 12px;
                    }
                    hr{
                        opacity: 0.4;
                    }
                }
                
            }
        }
    }
}



// Tela pequena
@media only screen and (max-width: 600px) {
    
    #informacoes{
        @include titulo-modulo();
        @include magin-top-bottom();

        h3{
            text-align: center;
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: -60px;

        #cabecalho-modulo{
            margin-bottom: 8px;
        }

        .submodulo{
            border-bottom-left-radius: $card-radius;
            border-bottom-right-radius: $card-radius;
            margin-bottom: 12px;
            .card-header{
                .titulo-submodulo{
                    font-family: "myriad-regular";
                    text-align: left;
                    color: #7a7c81;
                    font-size: 12px;
                    line-height: 12px;
                    margin: 10px 0;
                    text-transform: uppercase;
                    
                }
            }
            .card-body{
                .pergunta-resposta{
                    .pergunta{
                        margin-bottom: 12px;
                        font-family: "myriad-semibold";
                        font-size: 20px;
                        color: $azul-escuro;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .resposta{
                        font-family: "myriad-regular";
                        text-align: justify;
                        color: #8c8c8c;
                        font-size: 15px;
                        // line-height: 12px;
                    }
                    hr{
                        opacity: 0.4;
                    }
                }
                
            }
        }
    }
}