@media only screen and (min-width: 601px) {

    #mapa-noticias{
        hr{
            margin: 0 18px;
            opacity: 0.3;
        }
        #card-noticias{
            @include titulo-modulo();
            // @include magin-top-bottom();
            .card-body{
                padding-top: 0;
            }
            .noticias-container{
                height: 450px;
                overflow-y: scroll;
                width: 100%;
                max-width: 100%;
                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }
                &::-webkit-scrollbar-button {
                    width: 0px;
                    height: 0px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #32394d;
                    border: 0px none #ffffff;
                    border-radius: 0px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #44506f;
                }
                &::-webkit-scrollbar-thumb:active {
                    background: #44506f;
                }
                &::-webkit-scrollbar-track {
                    background: #ececec;
                    border: 0px none #ffffff;
                    border-radius: 0px;
                }
                &::-webkit-scrollbar-track:hover {
                    background: #ececec;
                }
                &::-webkit-scrollbar-track:active {
                    background: #ececec;
                }
                &::-webkit-scrollbar-corner {
                    background: transparent;
                }
                .noticia{
                    padding: 18px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .noticia-destaque{
                        width: 375px;
                        max-width: 100%;
                        height: 115px;
                    }
                    .noticia-info{
                        padding-left: 12px;;
                        .noticia-chapeu{
                            font-family: "myriad-regular";
                            color: #7a7c81;
                            font-size: 12px;
                            line-height: 12px;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        .noticia-titulo{
                            margin: 0;
                            font-size: 16px;
                            line-height: 20px;
                            margin: 4px 0 0 0;

                        }
                        .noticia-bigode{
                            margin: 0;
                            font-family: "myriad-regular";
                            color: #757679;
                            font-size: 14px;
                            line-height: 14px;
                            margin: 8px 0 0 0;

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #mapa-noticias{
        @include titulo-modulo();
        hr{
            margin: 0 18px;
            opacity: 0.3;
        }
        #card-noticias{
            @include magin-top-bottom(16px, 0);
            .noticias-container{
                height: 450px;
                overflow-y: scroll;
                width: 100%;
                max-width: 100%;
                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }
                &::-webkit-scrollbar-button {
                    width: 0px;
                    height: 0px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #32394d;
                    border: 0px none #ffffff;
                    border-radius: 0px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #44506f;
                }instabilidade
                &::-webkit-scrollbar-thumb:active {
                    background: #44506f;
                }
                &::-webkit-scrollbar-track {
                    background: #ececec;
                    border: 0px none #ffffff;
                    border-radius: 0px;
                }
                &::-webkit-scrollbar-track:hover {
                    background: #ececec;
                }
                &::-webkit-scrollbar-track:active {
                    background: #ececec;
                }
                &::-webkit-scrollbar-corner {
                    background: transparent;
                }
                .noticia{
                    padding: 18px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .noticia-destaque{
                        width: 375px;
                        max-width: 100%;
                        height: 130px;
                    }
                    .noticia-info{
                        padding-top: 12px;
                        .noticia-chapeu{
                            font-family: "myriad-regular";
                            color: #7a7c81;
                            font-size: 12px;
                            line-height: 12px;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        .noticia-titulo{
                            margin: 0;
                            font-size: 16px;
                            line-height: 20px;
                            margin: 4px 0 0 0;

                        }
                        .noticia-bigode{
                            margin: 0;
                            font-family: "myriad-regular";
                            color: #757679;
                            font-size: 14px;
                            line-height: 14px;
                            margin: 8px 0 0 0;

                        }
                    }
                }
            }
        }
    }
}
